.profile-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: #1e1e1e;
  gap: 50px;
}

.profile-page .left-section {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.profile-page .reviews-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 8px;
  padding: 20px;
  background-color: #2e2e2e;
}

.profile-page .profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3a3a3a;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.profile-page .profile-photo img {
  width: auto;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile-page .profile-stats {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 15px;
  width: 125px;
}

.profile-page .profile-info {
  width: 50%;
  padding: 10px;
}

.profile-page .profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.profile-page .profile-header h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color: #ffffff;
}

.profile-page .profile-header button,
.profile-page .profile-header select {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.profile-page .profile-details p {
  margin: 5px 0;
  font-size: 1rem;
  color: #cccccc;
}

.profile-page .welcome-movie {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  width: 90%;
  gap: 20px;
}

.profile-page .welcome-movie img {
  width: auto;
  height: 200px;
  object-fit: cover;
}

.profile-page .reviews-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-page .review-card {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #3a3a3a;
}

.profile-page .review-movie-poster img {
  width: auto;
  height: 120px;
  object-fit: cover;
}

.profile-page .review-content p {
  margin: 5px 0;
  font-size: 1rem;
  color: #bbbbbb;
}

.profile-page .lists-section {
  border-radius: 8px;
  padding: 20px;
  background-color: #2e2e2e;
}

.profile-page .default-lists {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-page .list-card {
  border-radius: 5px;
  padding: 0 10px;
  background-color: #3a3a3a;
}

.profile-page .list-card p {
  cursor: pointer;
}

.profile-page .list-movies {
  display: flex;
  gap: 5px;
  margin: 10px 0px;
}

.profile-page .list-movies img {
  width: auto;
  height: 80px;
  object-fit: cover;
  border-radius: 3px;
}

.profile-page .custom-lists {
  display: flex;
  justify-content: center;
}

.profile-page .custom-lists button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-page .custom-lists button:hover {
  background-color: #0056b3;
}

.profile-page .clickable {
  cursor: pointer;
  color: #2196f3;
}

.profile-page .clickable:hover {
  text-decoration: underline;
}

.profile-page .follow-button {
  margin-top: 10px;
}
