.profile-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #00ff4c;
  gap: 50px;
}

.left-section {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.reviews-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 8px;
  padding: 20px;
  border: 1px solid #00ff4c;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #00ff4c;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.profile-photo img {
  width: auto;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile-stats {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 15px;
  border: 1px solid #00ff4c;
  width: 125px;
}

.profile-info {
  width: 50%;
  padding: 10px;
  border: 1px solid #00ff4c;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #00ff4c;
}

.profile-header h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  border: 1px solid #00ff4c;
}

.profile-header button,
.profile-header select {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #00ff4c;
}

.profile-details p {
  margin: 5px 0;
  font-size: 1rem;
  border: 1px solid #00ff4c;
}

.welcome-movie {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  border: 1px solid #00ff4c;
  width: 90%;
  gap: 20px
}

.welcome-movie img {
  width: auto;
  height: 200px;
  object-fit: cover;
  margin-right: 20px;
  border: 1px solid #00ff4c;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #00ff4c;
}

.review-card {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #00ff4c;
}

.review-movie-poster img {
  width: auto;
  height: 120px;
  object-fit: cover;
  border: 1px solid #00ff4c;
}

.review-content p {
  margin: 5px 0;
  font-size: 1rem;
  border: 1px solid #00ff4c;
}

.lists-section {
  border-radius: 8px;
  padding: 20px;
  border: 1px solid #00ff4c;
}

.default-lists {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #00ff4c;
}

.list-card {
  border-radius: 5px;
  padding: 0 10px;
  border: 1px solid #00ff4c;
}

.list-movies {
  display: flex;
  gap: 5px;
  border: 1px solid #00ff4c;
  margin: 10px 0px;
}

.list-movies img {
  width: auto;
  height: 80px;
  object-fit: cover;
  border-radius: 3px;
  border: 1px solid #00ff4c;
}

.custom-lists {
  display: flex;
  justify-content: center;
}

.custom-lists button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-lists button:hover {
  background-color: #0056b3;
}
