.landing-page {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding: 25px 50px;
  border:2px solid #000000;
}

.slogan {
  font-size: 4rem;
  border:2px solid #000000;
}

.landing-page h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
  border:2px solid #000000;
  width: 500px;
  text-align: center;
  border-radius: 8px;
}

.movie-details-landing {
  text-align: center;
  width: 500px;
  border:2px solid #000000;
  border-radius: 8px;
  margin-bottom: 5px;
}

.movie-details-landing img {
  width: auto;
  height: 400px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.movie-details-landing h2 {
  font-size: 1.6rem;
  margin-top: 15px;
  border:2px solid #000000;
}

.movie-details-landing p {
  font-size: 1.1rem;
  line-height: 1.5;
  border:2px solid #000000;
}

.recent-reviews {
  border:2px solid #000000;
  border-radius: 8px;
  width: 500px;
  text-align: center;
  margin-bottom: 5px;
}

.recent-reviews ul {
  list-style: none;
  padding: 10px 10px;
  border:2px solid #000000;
}

.recent-reviews li {
  margin-bottom: 15px;
  border:2px solid #000000;
}

.recent-reviews li:last-child {
  border-bottom: none;
  border:2px solid #000000;
}

.recent-lists {
  border:2px solid #000000;
  border-radius: 8px;
  width: 500px;
  text-align: center;
  margin-bottom: 5px;
}

.recent-lists ul {
  list-style: none;
  padding: 10px 10px;
  border:2px solid #000000;
}

.recent-lists li {
  border:2px solid #000000;
  padding-bottom: 5px;
}

.recent-lists li:last-child {
  border-bottom: none;
  border:2px solid #000000;
}

.leaderboard {
  width: 500px;
  border:2px solid #000000;
  border-radius: 8px;
  text-align: center;
}

.leaderboard-container {
  display: flex;
  padding: 10px;
  border:2px solid #000000;
}

.leaderboard-section {
  flex: 1;
  border:2px solid #000000;
}

.leaderboard-section ul {
  list-style: none;
  padding: 10px 10px;
  border:2px solid #000000;
}

.leaderboard-section li {
  border:2px solid #000000;
  padding-bottom: 5px;
}

.leaderboard-section li:last-child {
  border-bottom: none;
  border:2px solid #000000;
}