.landing-page {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #1e1e1e;
  padding: 20px;
}

.landing-page .main-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.landing-page .movie-section {
  flex: 1;
  padding: 15px;
  background-color: #2e2e2e;
  border-radius: 4px;
}

.landing-page .movie-section h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
  color: #ffffff;
}

.list-movies img {
  height: 125px;
  width: 90px;
  object-fit: cover;
}

.recent-lists span {
  cursor: pointer;
}

.landing-page .movie-details-landing {
  text-align: center;
  margin-bottom: 15px;
}

.landing-page .movie-details-landing img {
  width: auto;
  max-height: 550px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 4px;
}

.landing-page .movie-details-landing h2 {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #cccccc;
  cursor: pointer;
}

.landing-page .movie-details-landing p {
  font-size: 1rem;
  line-height: 1.5;
  color: #aaaaaa;
}

.landing-page .recent-reviews {
  margin-top: 20px;
  background-color: #2e2e2e;
  border-radius: 4px;
  padding: 10px;
}

.landing-page .recent-reviews ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.landing-page .recent-reviews li {
  margin-bottom: 10px;
  color: #bbbbbb;
}

.landing-page .recent-reviews li p strong {
 cursor: pointer;
}

.landing-page .right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.landing-page .recent-lists {
  background-color: #2e2e2e;
  border-radius: 4px;
  padding: 10px;
}

.landing-page .recent-lists ul {
  list-style: none;
  padding: 0;
}

.landing-page .recent-lists li {
  margin-bottom: 10px;
  color: #bbbbbb;
}

.landing-page .leaderboard {
  background-color: #2e2e2e;
  border-radius: 4px;
  padding: 10px;
}

.landing-page .leaderboard-container {
  display: flex;
  gap: 10px;
}

.landing-page .leaderboard-section {
  flex: 1;
  color: #cccccc;
}

.landing-page .leaderboard-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.landing-page .leaderboard-section li {
  margin-bottom: 10px;
  color: #bbbbbb;
}
