.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 35px;
  background-color: #000000;
  transition: all 0.3s ease;
  box-sizing: border-box;
  /* border-bottom-left-radius: 50px; */
  /* border-bottom-right-radius: 50px; */
  box-shadow: 1px 1px 25px rgba(103, 103, 103, 0.2);
}

.nav-bar.shrink {
  padding: 3px 35px;
  background-color: rgba(0, 0, 0, 0.95);
  backdrop-filter: blur(2px);
}

.nav-left {
  flex: 1;
}

.nav-logo {
  height: 45px;
  cursor: pointer;
}

.nav-center {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-search-bar {
  width: 70%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #3a3a3a;
  background-color: #2e2e2e;
  color: #ffffff;
  /* font-family: "Lora", serif; */
  font-family: Arial, Helvetica, sans-serif;
}

.nav-search-bar::placeholder {
  font-style: italic;
  opacity: 0.7;
  text-indent: 10px;
  color: #aaaaaa;
}

.search-container {
  position: relative;
  width: 100%;
}

.search-results-dropdown {
  position: absolute;
  top: 100%;
  width: 98%;
  max-height: 300px;
  overflow-y: auto;
  background-color: #1a1a1a;
  border: 1px solid #3a3a3a;
  border-radius: 4px;
  z-index: 1000;
  padding: 5px;
  list-style: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-result-item {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.search-result-item:hover {
  background-color: #444444;
}

.nav-button {
  padding: 8px 15px;
  border: 1px solid #111111;
  border-radius: 4px;
  background-color: #2e2e2e;
  color: #cccccc;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  /* font-family: "Lora", serif; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

.nav-button:hover {
  background-color: #444444;
  color: #ffffff;
}

.nav-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.profile-dropdown {
  position: absolute;
  top: 60px;
  right: 30px;
  background-color: #1a1a1a;
  border-radius: 5px;
  padding: 10px;
  list-style: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-dropdown li {
  padding: 8px 10px;
  color: #cccccc;
  transition: background-color 0.3s;
  cursor: default;
}

.profile-dropdown li:not(.exclude):not(.profile-pic-container):hover {
  background-color: #444444;
  color: #ffffff;
  cursor: pointer;
}

.profile-button {
  font-size: 1rem;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: #2e2e2e;
  border: 1px solid #3a3a3a;
  color: #cccccc;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.profile-button:hover {
  background-color: #444444;
  color: #ffffff;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.create-list-button {
  font-size: 1rem;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: #2e2e2e;
  border: 1px solid #3a3a3a;
  color: #cccccc;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.create-list-button:hover {
  background-color: #444444;
  color: #ffffff;
}

.search-result-item.selected {
  background-color: #555555;
  color: #ffffff;
}

.search-result-poster {
  width: 40px;
  height: 60px;
  margin-right: 10px;
  border-radius: 5px;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 70%;
}

.search-type-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.nav-search-bar {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #3a3a3a;
  background-color: #2e2e2e;
  color: #ffffff;
}

.search-results-dropdown {
  position: absolute;
  top: 110%;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  background-color: #1a1a1a;
  border: 1px solid #3a3a3a;
  border-radius: 4px;
}

.search-result-item {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.search-result-movie-poster {
  width: 40px;
  height: 60px;
  margin-right: 10px;
  border-radius: 5px;
}

.search-result-user-pic {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.search-result-item.selected {
  background-color: #444444;
  color: #ffffff;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 70%;
}

.search-type-dropdown {
  position: relative;
  /* font-family: "Lora", serif; */
  font-family: Arial, Helvetica, sans-serif;
}

.search-type-select {
  display: flex;
  align-items: center;
  background-color: #2e2e2e;
  border-right: 1px solid #3a3a3a;
  border-end-start-radius: 5px;
  border-start-start-radius: 5px;
  padding: 9px;
  color: #cccccc;
  cursor: pointer;
  transition: background-color 0.3s;
  /* font-family: "Cinzel", serif;; */
}

.search-type-select:hover {
  background-color: #444444;
}

.dropdown-arrow {
  margin-left: 5px;
  color: #cccccc;
}

.search-type-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #1a1a1a;
  border: 1px solid #3a3a3a;
  border-radius: 4px;
  z-index: 1000;
  list-style: none;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-type-menu li {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  color: #cccccc;
  transition: background-color 0.2s ease-in-out;
}

.search-type-menu li:hover {
  background-color: #444444;
  color: #ffffff;
}

.search-type-menu li.selected {
  background-color: #555555;
  color: #ffffff;
}

.nav-search-bar {
  flex: 1;
  padding: 10px;
  border-radius: 0 20px 20px 0;
  border: 1px solid #3a3a3a;
  background-color: #2e2e2e;
  color: #ffffff;
}

.nav-search-bar:focus {
  outline: none;
  border-color: #555;
  box-shadow: 0 0 5px rgba(81, 203, 238, 0.5);
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 35px;
  background-color: #000000;
  transition: all 0.3s ease;
}