.create-list-button {
  cursor: pointer !important;
  padding: 8px 15px;
  border: 1px solid #3a3a3a;
  border-radius: 4px;
  background-color: #2e2e2e;
  color: #cccccc;
  transition: background-color 0.3s, color 0.3s;
  font-family: "Lora", serif;
}

.create-list-button:hover {
  background-color: #444444;
  color: #ffffff;
}